body, h1, p, button {
  transition: all 0.5s ease;
}

body.white {
  background-color: white;
  color: black;
}

body.black {
  background-color: black;
  color: white;
}

body.red {
  background-color: red;
  color: white;
}

body.green {
  background-color: green;
  color: white;
}

.color {
  display: flex;
  justify-content: space-evenly;
}

.color div {
  height: 100px;
  width: 100px;
  border: 5px solid cream;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white {
  color: black;
  background-color: white;
}

.black {
  color: white;
  background-color: black;
}

.red {
  color: black;
  background-color: red;
}

.green {
  color: black;
  background-color: green;
}
